*
{
    margin: 0px;
    padding: 0px;
}

#body{
    /*background-image: url(../img/imagenfondo.jpg) ;*/
  
    
  
    
}

/*BARRA DE NAVEGACIÓN*/

#logoLidia
{
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
}
.navbar-light .navbar-brand
{
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
}
.navbar-nav a
{
    font-family: 'Work Sans', sans-serif;
}

.navbar-dark
{
    background:rgb(175, 160, 123);
}

/*=======================================================================================================*/

.Quienes-Somos{
    margin: 150px 120px;
    width: 500px;
    
}
.Historia{
    margin: 60px 40px;
    width: 550px;
    
}

.Visitante{
    margin: 150px 40px;
    width: 500px;
    
}

.titulo-QS{
    font-size: 35px;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 2px;
}

.texto-QS{
    font-size: 19px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.titulo-H{
    font-size: 35px;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 2px;
}

.texto-H{
    font-size: 10px;
    font-family: 'Work Sans', sans-serif;
    
   
}

.titulo-V{
    font-size: 35px;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 2px;
}

.texto-V{
    font-size: 19px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    
}

/*==============================================================================================================*/

/* SECCIÓN 1 RESPONSIVE*/

/*--Slider #1--*/

@media (min-width: 360px) and (max-width: 374px)
{

    #card-body-Visitante{
        display: -webkit-flex;
    }

    #caja-Visitante
    {
       text-align: center;  
       margin: -395px 60px;
       height: 325px;
       
     
    }

    .card-img{
        
    }

    .titulo-V{
       
        font-size: 20px;
        font-family:'Work Sans', sans-serif ;
        letter-spacing: 2px;
    }

    .texto-V{
        
        font-size: 15px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        

    }
}

@media (min-width: 375px) and (max-width: 413px)
{

    #card-body-Visitante{
        display: -webkit-flex;
    }

    #caja-Visitante
    {
       text-align: center;  
       margin: -390px 50px;
       height: 260px;
       
     
    }

    .card-img{
        
    }

    .titulo-V{
       
        font-size: 20px;
        font-family:'Work Sans', sans-serif ;
        letter-spacing: 2px;
    }

    .texto-V{
        
        font-size: 15px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        

    }
}

@media (min-width: 414px) and (max-width: 429px)
{

    #card-body-Visitante{
        display: -webkit-flex;
    }

    #caja-Visitante
    {
       text-align: center;  
       margin: -390px 50px;
       height: 250px;
       
     
    }

    .card-img{
        
    }

    .titulo-V{
       
        font-size: 20px;
        font-family:'Work Sans', sans-serif ;
        letter-spacing: 2px;
    }

    .texto-V{
        
        font-size: 15px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        

    }
}

@media (min-width: 430px) and (max-width: 475px)
{

    #card-body-Visitante{
        display: -webkit-flex;
    }

    #caja-Visitante
    {
        
       margin: 4px;
       text-align: center;  
       margin: -390px 50px;
       
       height: 240px;
       
     
    }

    .card-img{
        
    }

    .titulo-V{
       
        font-size: 20px;
        font-family:'Work Sans', sans-serif ;
        letter-spacing: 2px;
    }

    .texto-V{
        
        font-size: 15px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        

    }
}


@media (min-width: 476px) and (max-width: 767px)
{
    #card-body-Visitante{
        display: -webkit-flex;
    }

    #caja-Visitante
    {
        
       margin: -380px 50px;
       height: 190px;
       
     
    }

    .titulo-V{
       
        font-size: 25px;
        font-family:'Work Sans', sans-serif ;
        letter-spacing: 2px;
    }

    .texto-V{
        
        font-size: 15px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        

    }

}

@media (min-width: 768px) and (max-width: 991px)
{
    #caja-Visitante
    {
        margin: 150px -150px;
        width: 400px;
    }

    .titulo-V{
        font-size: 28px;
        font-family:'Work Sans', sans-serif ;
        letter-spacing: 2px;
    }

    .texto-V{
        font-size: 18px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;

    }

}

@media (min-width: 992px) and (max-width: 1199px)
{
    #caja-Visitante
    {
        margin: 150px 40px;
        width: 450px;
    }
}

/*--Slider #2--*/



@media only screen and (max-width: 575px)
{

    #card-body-Quienes-Somos{
        position: relative;
    }
    

    #Caja-Quienes-Somos
    {
        position:absolute;
        z-index: 2;
        margin: 250px 10px;
        width: 300px;
       
     
    }

    .img-QS{
      
        z-index: 1;
    }

    
    .titulo-QS{
       
        font-size: 20px;
        font-family:'Work Sans', sans-serif ;
        letter-spacing: 2px;
    }

    .texto-QS{
        
        font-size: 15px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        

    }
}


@media (min-width: 576px) and (max-width: 767px)
{
    #card-body-Quienes-Somos{
        position: relative;
    }

    #Caja-Quienes-Somos
    {
        position:absolute;
        z-index: 2;
        margin: 250px 80px;
        width: 400px;
    }

    .img-QS{
      
        z-index: 1;
    }

    .titulo-QS{
       
        font-size: 25px;
        font-family:'Work Sans', sans-serif ;
        letter-spacing: 2px;
    }

    .texto-QS{
        
        font-size: 15px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        

    }

}

@media (min-width: 768px) and (max-width: 991px)
{
    #card-body-Quienes-Somos{
        position: relative;
    }

    #Caja-Quienes-Somos
    {
        position:absolute;
        z-index: 2;
        margin: 150px 40px;
        width: 400px;
    }

    .img-QS{
      
        z-index: 1;
    }


    .titulo-QS{
        font-size: 28px;
        font-family:'Work Sans', sans-serif ;
        letter-spacing: 2px;
    }

    .texto-QS{
        font-size: 18px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;

    }

}

@media (min-width: 992px) and (max-width: 1199px)
{
    #Caja-Quienes-Somos
    {
        margin: 150px 50px;
        width: 450px;
    }
}

@media only screen and (min-width: 1200px)
{
    #Caja-Quienes-Somos
    {
        margin: 150px 90px;
        width: 450px;
    }
}

/*--Slider #3--*/

@media (min-width: 360px) and (max-width: 374px)
{

    #card-body-Historia{
       
    }

    #caja-Historia
    {
       text-align: center;  
       margin: -545px 20px;
       width: 320px;
       height: 525px;
       
     
    }

    .card-img{
        
    }

    .titulo-H{
       
        font-size: 20px;
        font-family:'Work Sans', sans-serif ;
        letter-spacing: 2px;
    }

    .texto-H{
        
        font-size: 12px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        

    }
}

@media (min-width: 375px) and (max-width: 410px)
{

    #card-body-Historia{
        display: -webkit-flex;
    }

    #caja-Historia
    {
        display: inline-block;
       text-align: center;  
       margin: -550px 25px;
       height: 520px;
       
     
    }

    .card-img{
        
    }

    .titulo-H{
       
        font-size: 30px;
        font-family:'Work Sans', sans-serif ;
        letter-spacing: 2px;
    }

    .texto-H{
        
        font-size: 18px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        

    }
}

@media (min-width: 411px) and (max-width: 469px)
{

    #card-body-Historia{
        
        display: -webkit-flex;
        
        
    }

    #caja-Historia
    {
    
        display: inline-block;
       text-align: center;  
       margin: -520px 20px;
       height: 470px;
       
     
    }

    .card-img{
        
    }

    .titulo-H{
       
        font-size: 20px;
        font-family:'Work Sans', sans-serif ;
        letter-spacing: 2px;
    }

    .texto-H{
        
        font-size: 15px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        

    }
}

@media (min-width: 470px) and (max-width: 575px)
{

    #card-body-Historia{
        display: -webkit-flex;
    }

    #caja-Historia
    {
        display: inline-block;
       text-align: center;  
       margin: -510px 40px;
       height: 430px;
       
     
    }

    .card-img{
        
    }

    .titulo-H{
       
        font-size: 20px;
        font-family:'Work Sans', sans-serif ;
        letter-spacing: 2px;
    }

    .texto-H{
        
        font-size: 15px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        

    }
}

@media (min-width: 576px) and (max-width: 670px)
{
    #card-body-Historia{
        display: -webkit-flex;
    }

    #caja-Historia
    {
        
       margin: -500px 50px;
       height: 390px;
       
     
    }

    .titulo-H{
       
        font-size: 25px;
        font-family:'Work Sans', sans-serif ;
        letter-spacing: 2px;
    }

    .texto-H{
        
        font-size: 17px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        

    }

}

@media (min-width: 671px) and (max-width: 767px)
{
    #card-body-Historia{
        display: -webkit-flex;
    }

    #caja-Historia
    {
        
       margin: -470px 50px;
       height: 350px;
       
     
    }

    .titulo-H{
       
        font-size: 28px;
        font-family:'Work Sans', sans-serif ;
        letter-spacing: 2px;
    }

    .texto-H{
        
        font-size: 50px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        

    }

}



@media (min-width: 768px) and (max-width: 991px)
{
    #caja-Historia
    {
        margin: 50px -340px;
        height: 500px;
        width: 500px;
    }

    .titulo-H{
        font-size: 28px;
        font-family:'Work Sans', sans-serif ;
        letter-spacing: 2px;
    }

    .texto-H{
        font-size: 18px;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;

    }

}


@media (min-width: 992px) and (max-width: 1149px) 
{

    #caja-Historia
    {
        font-size: 10px;
        margin: 50px -90px;
        width: 600px;
    }
}

@media (min-width: 1150px) and (max-width: 1299px)
{
    #caja-Historia
    {
        margin: 70px -90px;
        width: 650px;
    }
}

@media only screen and (min-width: 1300px)
{
    #card-body-Historia{
        display: -webkit-flex;
        height: 630px;
    }

    #caja-Historia
    {
        margin: 70px 50px;
        height: 550px;
    }
}

/*=========================================================================================================*/


/*SECCIÓN #1 sliders
.carousel-item services
{
    background-color: rgb(161, 142, 95);
}

.secciones
{
    padding: 0;
    margin: 0px;
}

.centrado
{
    font-family: 'Work Sans', sans-serif;
   
    background: rgba(61, 61, 61,.4);
}

.centrado h5
{
    font-size: 35px;
    letter-spacing: 2px;
    margin-top: 25px;
    margin-right: 10px;
    font-family: 'Work Sans', sans-serif;
   
}

.carousel-caption
{
    bottom: 220px;
    color: #000;
    
}

#QS-caja-texto{
    top: 120px;
   

}

#His-caja-texto{
    top: 50px;
    margin-right: 50px;
    

}

.h-His{
    text-align: center;
    margin-left: 80px;
}

.p-His{
    
    text-align: justify;
    width: 450px;
    height: 450px;
   
}

.carousel-caption h5
{
    font-size: 35px;
    letter-spacing: 2px;
    margin-top: 25px;
    margin-right: 10px;
    font-family: 'Work Sans', sans-serif;
    color: #000;
}

*/

/*=======================================================================================================*/

/*SECCIÓN #1 sliders RESPONSIVE

@media only screen and (max-width: 767px)
{
    #infoResponsive
    {
        position:relative;
        display: inline-block;
        text-align: center;
    }

    .texto-encima
    {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .centrado
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 768px) and (max-width:959px)
{
    .texto-encima
    {
        display: none;
    }

    .centrado
    {
        display: none;
    }
}

@media (min-width: 960px) and (max-width:1199px)
{
    .texto-encima
    {
        display: none;
    }

    .centrado
    {
        display: none;
    }
}

@media (min-width: 1200px)
{
    .texto-encima
    {
        display: none;
    }

    .centrado
    {
        display: none;
    }
}
*/

/*=======================================================================================================*/

/*
.tarjetas
{
    font-family: 'Work Sans', sans-serif; 
}

.titulos{
    color: #2d3436;
    

}

a:link, a:visited, a:active{
    text-decoration: none;
}

*/

/*=======================================================================================================*/

/* SECCIÓN #2*/

.section2
{
    margin-top: 8%;
}


/* overlay Lámparas*/
.card-img-overlay
{
  
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    height: 61%;
    opacity: 0;
    transition: .6s ease-out;
    background: rgba(209, 204, 192,1.0);
}

.buttonshop
{
    position: absolute;
    left: 55%;
    top: 38%;
}

.buttongallery
{
    position: absolute;
    left: 20%;
    top: 38%;
}

.inner
{
    overflow: hidden;
}

.inner .img
{
    transition: all 1.5s ease;
}

.inner:hover .img
{
    transform: scale(1.5);
}

.card-img-overlay:hover
{
  opacity: .8;   
}

/* overlay Plafones tarjeta 2*/

.tarjeta2
{
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    height: 46%;
    opacity: 0;
    transition: .6s ease-out;
    background: rgba(255, 245, 245, 0.692);
}

.card-img-overlay .tarjeta2:hover
{
  opacity: .8;    
}

/* overlay Plafones tarjeta 3*/
.tarjeta3
{
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    height: 36%;
    opacity: 0;
    transition: .6s ease-out;
    background: rgba(65, 64, 63, 0.651);
}

.card-img-overlay .tarjeta3:hover
{
    opacity: .8;
}

/*=======================================================================================================*/
/*SECCIÓN # SERVICIOS */

.Servicios
{
    text-align: center;
    text-transform: capitalize; 
}

.refacciones{
    background: rgba(96, 101, 105, 0.685);
    
}

.card-img-overlay .refacciones:hover{
    opacity: .7;
    
}

.mantenimiento{
    background: rgba(201, 199, 199, 0.952);
}

.card-img-overlay .mantenimiento{
    opacity: .5;
}

/*=======================================================================================================*/

/*SECCIÓN #3 CONTACTO */

#Efecto-etiqueta{
    background-color: rgba(234, 32, 39, 0.767);
    padding: 10px 30px;
    margin-left: -30px;
    position: relative;
    width: 35%;
    box-shadow: 5px 5px 5px rgba(45, 52, 54, 0.623);
    -moz-box-shadow: 5px 5px 5px rgba(45, 52, 54,0.623);
    -webkit-box-shadow: 5px 5px 5px rgba(45, 52, 54,0.623);
}

/* responsive css efecto etiqueta Envíanos un mensaje*/
@media only screen and (min-width: 768px) and (max-width: 991px)
{
    #Efecto-etiqueta
    {
        width: 60%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px)
{
    #Efecto-etiqueta
    {
      width: 80%;
    }
   
}

@media only screen  and (max-width: 575px)
{
    #Efecto-etiqueta
    {
      width: 80%;
    }
   
}

/* responsive css mapa para sm*/
@media only screen  and (max-width: 575px)
{
    #map
    {
      width: 350;
    }
   
}


.title2
{
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    font-size: 29px;   
}

.icono1
{
    /*background: url(../img/icon-telephone.ico);
    background-repeat: no-repeat;
    background-position: center;*/
}

.icono2
{
    /*background: url(../img/icon-location3.ico);
    background-repeat: no-repeat;
    background-position: center;*/
}

.icono3
{
    /*background: url(../img/icon-email.ico);
    background-repeat: no-repeat;
    background-position: center;*/
}

.icono4
{
    /*background: url(../img/icon-reloj.ico);
    background-repeat: no-repeat;
    background-position: center;*/
}

.icono5
{
    /*background: url(../img/icon-info4.ico);
    background-repeat: no-repeat;
    background-position: center;*/
}

.pf
{
    color: #999;
    line-height: 25px;
}

/*=======================================================================================================*/

/* FOOTER*/
.h3f .h2f
{
    color: #fff;
}

.h2f
{
    font-size: 18px;
    
}

.footer-top
{
    background: #111;
    padding: 80px 0;
}

.segment-one .h3f
{
    font-family: 'Courgette', cursive;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;

}


.segment-two .h2f
{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-transform: uppercase;   
}

.segment-two .h2f:before
{
    padding-right: 10px;
    content: '|';
    color: #c65039; 
}

.segment-two ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.segment-two ul li
{
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 40px;
}

.segment-two ul li a
{
    color: #999;
    text-decoration: none;
}

.segment-three .h2f
{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase; 
}

.segment-three .h2f:before
{
    padding-right: 10px;
    content: '|';
    color: #c65039;  
}

.bredes
{
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.segment-three .a .redes
{
   width: 40px;
}

.footer-bottom-text
{
    text-align: center;
    background: #000;
    line-height: 75px;
}

/*=======================================================================================================*/

/* responsive css footer*/
@media only screen and (min-width: 768px) and (max-width: 991px)
{
    .md-mb-30
    {
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 767px)
{
    .sm-mb-30
    {
        margin-bottom: 30px;
    }

    .footer-top
    {
        padding: 50px 0;
    }
}

